.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination button {
  margin: 0 10px;
  padding: 5px 10px;
  background-color: var(--color-secondary);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.pagination button:disabled {
  background-color: lightgrey;
  color: lightwhite;
  cursor: not-allowed;
}
