.drawer-backdrop {
  position: fixed;
  inset: 0;
  /* set the background transparent */
  background: rgba(0, 0, 0, 0.3);
  /* background: var(--color-accent); */
  z-index: 100;
}
.drawer-panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background: #fff;
  z-index: 101;
  box-shadow: -8px 0 24px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.drawer-close {
  align-self: flex-end;
  margin: 8px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.drawer-content {
  padding: 16px 8px;
  /* aviod the horizontal scrolling bar */
  min-width: 0;
  flex: 1 1 auto;
}
