.top-sellers{
    background-color: #244774;
    width: fit-content;
    border-radius: 5px;
}

.top-sellers h2{
    color: white;
    margin-bottom: 0px;
    padding: 10px;
    justify-self: center;
}
.top-sellers__list{
    border: solid 3px rgb(58, 58, 58);
    padding: 5px;
    height: 455px;
    width: fit-content;
    overflow-y: scroll;
    background-color: #64748b;
}

.top-sellers__list::-webkit-scrollbar {
    display: none;
}

.seller-card{
    border: solid 3px #e5e7eb;
    margin-bottom: 4px;
    border-radius: 10px;
    padding: 5px;
    display: grid;
    place-items: center;
    grid-template-columns: 75px 1fr 125px 75px;
    grid-column-gap: 10px;
    width: 600px;
    background-color: var(--third-color);
}

.seller-card img{
    grid-column: 1;
    grid-row: 1/3;
    width: 75px;
    height: 75px;
    background-color: #3b82f6;
    border-radius: 30%;
    border: groove 3px #2563eb
}

.seller-name{
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
    align-self: self-end;
    font-size: 30px;
}

.seller-rating{
    grid-column: 3;
    grid-row: 1/3;
}

.seller-sold{
    grid-column: 2;
    grid-row: 2;
    justify-self: start;
    align-self: self-start;
}

.seller-rank{
    grid-column: 4;
    grid-row: 1/3;
    font-size: 36px;
    justify-self: center;
    color: black;
}

.seller-rank .gold{
    color: #FFD700;
}
.seller-rank .silver{
    color: #C0C0C0;
}
.seller-rank .bronze{
    color: #CD7F32 ;
}



.star-ratings {
  float: left;
  display: block;
  unicode-bidi: bidi-override;
  color: gray;
  font-size: 30px;
  position: relative;
  margin-left: 10px;
}

.star-ratings .star-ratings-top {
  color: gold;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  left: 0px;
  overflow: hidden;
}

.star-ratings .star-ratings-bottom {
  z-index: 0;
}