#root {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
}

/*Colour palette */
:root {
  --primary-color: #3364ad;
  --second-color: #274b82;
  --third-color: #648ed4;
  --forth-color: #4c79c1;
  --fifth-color: #1a3257;
}
