#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
}

/*Colour palette */
:root {
  /* Core Brand Colors */
  --color-primary: #3364ad;
  --color-secondary: #274b82;
  --color-accent: #c8102e;

  /* Supporting/Depth Colors */
  --color-light-blue: #648ed4;
  --color-mid-blue: #4c79c1;
  --color-deep-blue: #1a3257;
}