nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  gap: 20px;
}

nav ul a {
  color: var(--link-font-color);
}

nav ul a:hover {
  text-decoration: underline;
}
